
		<div class="clear"></div>

        <div style="height: 90px;">&nbsp;</div>
    
            
            <div style="position: fixed; bottom: 0; width: 100%;  background-color: rgb(45,105,90); margin: 0 auto; color: white; font-size: 16px; text-align: center; height:65px; margin-top: 96px; border-top: 10px solid black;"> 
                <div style="width: 1000px; margin: 0 auto;">
    
                
                    <div style="width: 900px; float: left; padding: 5px 15px;">
                        <div style="font-size: 12px;">KDS Construction - a leader in General Contracting & Construction Management services in Metro Vancouver & the Fraser Valley</div>
                        16250 - 20th Avenue, Surrey, BC, V3Z 9M8  T: 604.535.8152 | F: 604.535.8132 | E: <a href="mailto:info@kdsconstruction.ca" style="color: white;">info@kdsconstruction.ca</a>
                                            </div>
                    <div style="float: right; width: 70px;">
                        <img src="/images/footer-logo-trans-black.png" style="margin-top: -25px;" alt="KDS Construction Footer Logo" /> 
                    </div>
                </div>
                <div class="clear"></div>
            </div>
    
            <!--<div id="scroll-arrow" style="position: absolute; bottom: 85px; width: 55px; height: 32px; left: 50%; margin-left: -27px;">
                <img src="images/scroll-down-arrow.png" alt="Scroll Down" />
            </div>-->
    
    <script type="text/javascript">
    
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-29269045-1']);
      _gaq.push(['_trackPageview']);
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    
    </script>
    </body>
    </html>
    