

<!doctype html>  

<html lang="en">
<head>
<meta charset="utf-8">
	
	<title><%= (page != undefined && page.title) ? page.title : 'General Contracting & Construction Management services in Metro Vancouver & the Fraser Valley by KDS Construction Ltd' %></title>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap" rel="stylesheet">	
	<link rel="stylesheet" href="/css/style.css" />
	<link rel="stylesheet" href="/css/kds.css" />
	<script type="text/javascript" src="/js/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="/js/jquery.aw-showcase.min.js"></script>
	<script type="text/javascript" src="/js/lemmon-slider.js"></script><script type="text/javascript">

$(document).ready(function()
{


    $("#showcase").awShowcase(
    {
		content_width:  700,
		content_height: 480,
		continuous: true,
		loading: true,
		auto: true,
		buttons: true,
		arrows: false,
		pauseonover: true,
		dynamic_height: true,
		interval: 6000

    });

		$("#homepage").awShowcase(
    {
        content_width:  960,
		content_height: 430,
		continuous: true,
		loading: true,
		auto: true,
		arrows: false,
		pauseonover: true,
		interval: 6000

    });

	var sliderTimeout;
	
	function sliderAutoplay() {
		$( '#logoSlider' ).trigger( 'nextSlide' );
		sliderTimeout = setTimeout( sliderAutoplay, 2000 );
	}
	
	function sliderPause(){
		clearTimeout( sliderTimeout );
	}
	
	// initialize slider
	$( '#logoSlider' ).lemmonSlider({

		'infinite' : true

	});
	// run
	sliderAutoplay();

	

	

	
	$("#scroll-arrow").hide();	

	if($(window).height() < $(document).height()) {
		$("#scroll-arrow").fadeIn();	
		$(window).scroll(function() {
			if(($(window).scrollTop() + $(window).height() + 250) >= $(document).height()) {
				$("#scroll-arrow").fadeOut();
			} else {
				if($("#scroll-arrow").is(":hidden")) {
					$("#scroll-arrow").fadeIn();
				}
			}
		});
	} 

	
});

	

</script>
		 <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
 </head>

<body>
<div class="header-container" style="background-color: white; border-bottom: 3px solid rgb(45,105,90); ">
	<div class="header" >
		<nav>
			<div id="logo"><a href="/"><img src="/images/header-box-logo3.png" style="margin-top: -20px; border: 0;" alt="KDS Construction Header Logo"></a></div>
			<div id="nav-container" >
				<div id="nav-links">
					<div class="<%- (page.active_section && page.active_section == 'home') ? 'active-section' : '' %>"><a href="/">Home</a></div>
					<div class="<%- (page.active_section && page.active_section == 'services') ? 'active-section' : '' %>"><a href="/services">Services</a></div>
					<div class="<%- (page.active_section && page.active_section == 'projects') ? 'active-section' : '' %>"><a href="/projects">Projects</a></div>
					<div class="<%- (page.active_section && page.active_section == 'our-story') ? 'active-section' : '' %>"><a href="/our-story">Our Story</a></div>
					<div class="<%- (page.active_section && page.active_section == 'contact-kds') ? 'active-section' : '' %>"><a href="/contact-kds">Contact Us</a></div>
				</div>
				<div id="nav-sublinks">
                                
                </div>
				<div class="clear"></div>
				
			</div>
			<div class="clear"></div>
		</nav>
		<div class="clear"></div>
	</div>
</div>