<div class="viewable" style="background-color: rgb(230,240,240); padding-top: 0px;">
  <div id="homepage" class="showcase">
    <% page.content.data.slider.forEach((slider) => { %>
    <div class="showcase-slide">
      <div class="showcase-content">
          <div class="showcase-content-wrapper"><img src="<%= slider.slide_image.url %>" alt="<%= slider.slide_title_caption %>" /></div>
      </div>        
      <%- (slider.slide_title_caption.length > 0) ? '<div class="showcase-caption"><h1>'+slider.slide_title_caption[0].text+'</h1></div>' : '' %>      
    </div>
    <% }) %>      
  </div>
</div>

<div style="border-top: 1px solid silver; border-bottom: 1px solid silver; background-color: white; padding-bottom: 10px; background-color: rgb(45, 105, 90)" class="vidlink">
  <div class="viewable" style="background-color: rgb(45, 105, 90);">
    <div style="float: left; width: 600px; height: 337px;">
      <iframe width="600" height="337" src="https://www.youtube.com/embed/CmEFszl2GhM?rel=0&amp;showinfo=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div style="color: white; float: left; margin-left: 50px; width: 354px;">
      <h2 style="color: white;">Superior Quality Construction Services since 1984</h2>
      <p style="color: white;">Incorporated in 1984, KDS Construction Ltd. has been providing superiour quality <a href="/services/construction-management">construction services</a> and exceeding client expecations in the <a href="/projects/healthcare">healthcare</a>, <a href="/projects/commercial-institutional">institutional, commercial</a>, <a href="/projects/food-processing-industrial-plants">food and beverage manufacturing</a> industries. </p> 
    </div>
    <div style="clear: both;"></div>
  </div>
</div>

<div style="border-top: 1px solid silver; border-bottom: 1px solid silver; background-color: white; padding-bottom: 10px;">
  <div class="viewable">
    <div style="padding-top: 10px; padding-bottom: 10px;">
      <h1>These great organizations have trusted us...</h1>
    </div>      
    <div id="logoSlider" class="slider" >
      <ul>
        <% page.content.data.trusted_companies.forEach((c) => { %>
          <li><img src="<%= (c.logo && c.logo.url) ? c.logo.url : ''%>" alt="<%= (c.alt) ? c.alt : c %>" /></li>
        <% }) %>       
      </ul>
    </div>
    <div style="padding-top: 10px; padding-bottom: 10px;">
      <h1 style="float: right;">...and you will too.</h1></div>
    </div>      
</div>
<div class="clear"></div>
