<div class="viewable">
    <div style="margin-bottom: 15px; border-bottom: 1px dashed silver; padding-bottom: 10px;">
        <div style="float: left; border-top: 3px solid rgb(45,105,90); width: 302px; padding-top: 15px; ">
        <h1 style="text-transform: uppercase; font-size: 25px;">Letters of Recommendation</h1>
        </div>
        <div style="float: left; width: 672px; border-top: 1px solid silver; padding-top: 13px; padding: 25px; color: rgb(80,80,80);">
            <p>At KDS Construction Ltd we always aim to exceed the expectations of our clients. Often, proof of that comes in the form of a thank-you/recommendation letter.</p>
            <p>We've selected a handful for you to view. Please take a moment and check out some of the kind words of past clients.</p>
        </div>
        <div class="clear"></div>
    </div>
    <div>
        <div style="float: left; text-align: center; background-color: rgb(242,242,242); width: 420px; padding: 15px; margin-right: 25px;">
            <img id="reco_letter" src="<%= page.content.filter(p => p.uid == page.active_page).shift().data.scanned_letter.url %>" style="border: 1px solid silver;" alt="Recommendation Letter JPG" /><br>
            <img src="images/pdf.png"><a href="<%= page.content[0].data.pdf.url %>" alt="Download PDF">Download PDF</a>
        </div>
        <div style="float: left; width: 549px;">
        <% page.content.forEach((p) => { %> 
                <div style="clear: both; border-bottom: 1px solid silver; margin: 0px 0px; padding: 11px 0px;">
                    <div style="float: left; width: 100px; padding: 5px 0px; font-size: 28px; font-weight: 300; text-align: center;"><%= p.data.year %></div>
                    <div style="float: left; width: 449px;">
                        <div style="text-transform: uppercase;"><a style="color: rgb(45,105,90); text-decoration: none;" href="/letters-of-recommendation/<%= p.uid %>"><%= p.data.title[0].text %></a></div>
                        <div style="font-size: 14px;"><%= p.data.body[0].text %></div>
                    </div>
                    <div class="clear"></div>
                </div>
        <% }) %>
        </div>
        <div style="clear: both;"></div>
    </div>
</div>