<div class="viewable">
    <div style="margin-bottom: 15px; border-bottom: 1px dashed silver; padding-bottom: 10px;">
        <div style="float: left; border-top: 3px solid rgb(45,105,90); width: 302px; padding-top: 15px; ">
        <h1 style="text-transform: uppercase; font-size: 25px;">KDS News</h1>
        </div>
        <div style="float: left; width: 672px; border-top: 1px solid silver; padding-top: 13px; padding: 25px; color: rgb(80,80,80);">
            <p>Community involvement is incredibly important to KDS Construction Ltd. We have dedicated this portion of our website to sharing some of the projects and events we've been honoured to participate in.</p>            
        </div>
        <div class="clear"></div>
    </div>
    <div>

        <div style="float: left; background-color: rgb(242,242,242); width: 520px; padding: 25px; margin-right: 25px;">
            
            <img id="reco_letter" src="<%= page.content.filter(p => p.uid == page.active_page).map(p => p.data.news_image.url).shift() %>" style="border: 1px solid silver; margin-bottom: 10px;" alt="Surrey company helps hospital’s Family Birthing Unit">
            <h1><%= page.content.filter(p => p.uid == page.active_page).map(p => p.data.title[0].text).shift() %></h1>
            <%- (page.content.filter(p => p.uid == page.active_page).length > 0) ? '<h2>'+page.content.filter(p => p.uid == page.active_page).map(p => p.data.title[0].text).shift()+'</h2>' : '' %>
            <%- PrismicDOM.RichText.asHtml(page.content.filter(p => p.uid == page.active_page).map(p => p.data.story).shift()) %>
            <div><br></div>			
        </div>
        <div style="float: left; width: 249px;">
        <% page.content.forEach((p) => { %> 
                <div style="clear: both; border-bottom: 1px solid silver; margin: 0px 0px; padding: 11px 0px;">
                    <div style="float: left; width: 100px; padding: 5px 0px; font-size: 28px; font-weight: 300; text-align: center;"></div>
                    <div style="float: left; width: 449px;">
                        <div style="text-transform: uppercase;"><a style="color: rgb(45,105,90); text-decoration: none;" href="/news/<%= p.uid %>"> <%= p.data.year %> </a></div>
                        <div style="font-size: 14px;"><%= p.data.title[0].text %></div>
                        <%- (p.data.subtitle.length > 0) ? '<div style="font-size: 12px; font-weight: 400;">'+p.data.subtitle[0].text+'</div>' : '' %>
                    </div>
                    <div class="clear"></div>
                </div>
        <% }) %>
        </div>
        <div style="clear: both;"></div>
    </div>
</div>