<div class="viewable" >
        <div style="float: left; width: 686px; padding-right: 22px;  ">
            <img src="<%= page.content.data.cover_image.url %>" style="border: 3px solid rgb(240,240,240); margin-bottom: 10px;" alt="<%= page.content.title %>" />
            <h1 style="border-bottom: 1px solid rgb(230,240,240); padding-bottom: 8px; margin-top: 15px; margin-bottom: 15px;"><%= page.content.data.title[0].text %></h1>
            <%- PrismicDOM.RichText.asHtml(page.content.data.body) %>
            

            <% if(page.content.data.body1.length > 0 && page.content.data.body1[0].items.length > 0 ) { %>                
                <div style="margin-top: 25px;">
                <% page.content.data.body1[0].items.forEach((p) => { %>
                <div>
                    <div style="margin-bottom: 5px;"><%- PrismicDOM.RichText.asHtml(p.job_title) %></div>
                    <div><%- PrismicDOM.RichText.asHtml(p.job_description) %></div>
                    <div><a style="padding: 4px 7px;
                        color: white;
                        background-color: #B42E00;
                        border-radius: 6px;
                        font-size: 12px;
                        text-decoration: none;
                        font-weight: 400;" href="<%= p.attachment.url %>"><%= p.attachment.name %></a></div>
                </div>
                <% }) %>
                </div>
            <% } %>
        </div>
        <div style="float: left; width: 260px; padding-left: 35px;">
            <div style="margin-bottom: 15px;">About KDS Construction</div>
            <% page.links.forEach((p) => { %>
                <h2 style="text-transform: uppercase; font-size: 15px; <%= (page.active_page == p.slug) ? 'border-bottom: 1px solid silver; font-weight: 400;' : '' %> padding-bottom: 3px;"><a style="color: rgb(45,105,90); text-decoration: none;" href="/<%= p.slug %>"><%= p.title %></a></h2>
            <% }) %>
        </div>
        <div class="clear"></div>
    </div>
    

<div class="clear"></div>
