<div class="viewable" style="background-color: white;">
    <h1 style="font-size: 23pt; margin-bottom: 15px;"><%= page.content.data.project_title[0].text %></h1>
    <div class="project-desc" style="float: left; border-top: 10px solid rgb(45,105,90); width: 302px; padding-top: 15px; margin-top: 10px; margin-right: 20px;">
        <% if(page.content.data.project_description.length > 0) { %> 
        <p><%= page.content.data.project_description[0].text %></p>
        <% } %> 
        
        <% if(page.content.data.location) { %> 
            <h2>Location</h2>
            <p><%= page.content.data.location %></p>
        <% } %>
        
        <% if(page.content.data.completed_date) { %> 
            <h2>Completed</h2>
            <p><%= page.content.data.completed_date %></p>
        <% } %>
        
        <% if(page.content.data.cost) { %> 
            <h2>Cost</h2>
            <p><%= page.content.data.cost %></p>
        <% } %>
    </div>
    <div style="float: left; width: 702px; margin-top: 10px; color: rgb(80,80,80);">
        <div id="showcase" class="showcase">
            <% page.content.data.body[0].items.forEach((p,i) => { %>
            <div class="showcase-slide">
                <div class="showcase-content">
                    <div class="showcase-content-wrapper"><img src="<%= p.photo.url %>" alt="<%= page.content.data.project_title[0].text+' Photo '+i %>"/></div>
                </div>
            </div>
            <% }) %>
        </div>
    </div>
    <div class="clear"></div>

</div>
<div class="clear"></div>