<div class="viewable" style="background-color: white; border-top: 1px solid rgb(155,155,155);">
    <div style="margin-bottom: 15px;  padding-bottom: 10px;">        
        <div style="float: left; border-top: 3px solid rgb(45,105,90); width: 250px; padding-top: 15px; ">
            <h1 style="text-transform: uppercase; font-size: 25px;"><%= page.content.data.project_subtitle[0].text %></h1></div>
        <div style="float: left; width: 692px; border-top: 1px solid silver; padding-top: 13px; padding: 15px 0px 15px 10px; color: rgb(80,80,80);">
            <img style="border: 1px solid silver; padding: 5px;" src="<%= page.content.data.project_type_cover_photo.url %>" alt=" <%= page.content.data.project_description[0].text %>" />
            <%= page.content.data.project_description[0].text %>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="viewable" style="background-color: white; border-top: 1px solid rgb(155,155,155);">
    <div style="margin-bottom: 15px;  padding-bottom: 10px;">
        <div style="float: left; border-top: 3px solid rgb(45,105,90); width: 250px; padding-top: 15px; ">
            <h1 style="text-transform: uppercase; font-size: 25px;"><%= page.content.data.project_type[0].text %></h1></div>
        <div style="float: left; width: 702px; border-top: 1px solid silver; padding-top: 13px; padding: 15px 0px; color: rgb(80,80,80);">
            <% page.projects.forEach((p, i) => { %>
                <div class="project2 <%= (i % 3) ? 'last' : '' %>">
                    <a href="<%= page.active_page+'/'+p.uid %>"><img src="<%= p.data.primary_photo.thumb.url %>" alt="<%= p.data.project_title[0].text %>" /></a>
                    <br>
                    <h2><%= p.data.project_title[0].text %></h2>                  
                </div>                
            <% }) %>

            
            
            <div style=" clear: both; padding-top: 20px; padding-left: 10px;">
                <h2>More <%= page.content.data.project_type[0].text %> Projects</h2></div>
            <% page.content.data.more_projects.forEach((p, i) => { %>
                <div class="project2simple <%= (i % 2) ? 'last' : '' %>">
                    <h2><%= p.project_title %></h2>
                </div>
                

            <% }) %>
            
              
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="clear"></div>
