<div class="viewable">       
    <% page.content.forEach((p) => { %>
    <div style="margin-bottom: 15px;  padding-bottom: 10px;">
        <div style="float: left; border-top: 3px solid rgb(45,105,90); width: 320px; padding-top: 15px; ">
            <h1 style="text-transform: uppercase; font-size: 25px;"><%= p.data.project_type[0].text %></h1>
            <h2 style="text-transform: uppercase; font-size: 14px;"><a style="color: rgb(45,105,90);" href="/projects/<%= p.uid %>">View All <%= p.data.project_type[0].text %> Projects</a></h2>
        </div>
        <div style="float: left; width: 702px; border-top: 1px solid silver; padding-top: 13px; padding: 15px 0px; color: rgb(80,80,80);">            
            <% page.projects.filter(project => project.data.project_type.uid == p.uid).forEach((project, i) => { %>
                <div class="project2 <%= (i % 3) ? 'last' : '' %>">
                        <a href="<%= '/projects/'+p.uid+'/'+project.uid %>"><img src="<%= project.data.primary_photo.thumb.url %>" alt="<%= project.data.project_title[0].text %>" /></a>
                        <br>
                        <h2><%= project.data.project_title[0].text %></h2></div>
            <% }) %>
        </div>
        <div class="clear"></div>
    </div>
    <% }) %>
    <div class="clear"></div>
</div>
