<div class="viewable" >
    <div style="float: left; width: 686px; padding-right: 22px;  ">
        <img src="<%- page.content.img %>" style="border: 3px solid rgb(240,240,240); margin-bottom: 10px;" alt="<%= page.content.title %>" />
        <h1 style="border-bottom: 1px solid rgb(230,240,240); padding-bottom: 8px; margin-top: 15px; margin-bottom: 15px;"><%= page.content.title %></h1>
        <%- page.content.body %>
    </div>
    <div style="float: left; width: 260px; padding-left: 35px;">
        <div style="margin-bottom: 15px;">Services</div>
        <% page.links.forEach((p) => { %>
            <h2 style="text-transform: uppercase; font-size: 15px; <%= (page.active_page == p.slug) ? 'border-bottom: 1px solid silver; font-weight: 400;' : '' %> padding-bottom: 3px;"><a style="color: rgb(45,105,90); text-decoration: none;" href="/services/<%= p.slug %>"><%= p.title %></a></h2>
        <% }) %>
    </div>
    <div class="clear"></div>
</div>