header, footer, aside, nav, article { display: block;  } 
		

		a { color: #B52E00; }
	
		.header { width: 1110px; margin: 0 auto; position: relative;  padding: 0px 0px; }

		p, li { font-family: 'Open Sans', sans-serif; font-style: normal; font-weight: 300; line-height: 1.6em; font-size: 10pt; color: rgb(50,80,80);  }
		
		.vidlink a { color: white; font-weight: bold; text-decoration: none; }

		body {  font-family: 'Open Sans', sans-serif; font-style: normal; font-weight: 300; line-height: 1.4em; background-color: white; border-top: 10px solid rgb(45,105,90); background-color: rgb(230,240,240); }


		footer { height: 72px; border-top: 5px solid silver; border-bottom: 1px solid silver; background-color: black; text-align: center;
		
		box-shadow:0px 0px 30px #000;
		-webkit-box-shadow:0px 0px 30px #000;
		-moz-box-shadow:0px 0px 30px #000;

}


	nav { font-weight: 300;    color: rgb(24,24,24); font-size: 18px; }
		
	#logo {  width: 244px; height: 134px;  position: absolute; z-index: 99;}
	#nav-container {  height: 80px; background-color: white; margin-left: 50px;  padding-left: 205px;}
	#nav-links {height: 35px; padding-top: 10px; float: right;}
	.active-section {  border-bottom: 2px solid rgb(230,240,240) !important; }
	#nav-links div {   padding: 5px 5px 5px 5px; float: left; text-transform: uppercase; border-bottom: 2px solid #659086; margin: 0px 15px;}
	
	#nav-links a { margin: 0px 5px; color: #2d695a; text-decoration: none; font-size: 13pt; font-weight: 600 }
	#nav-links div:hover { border-bottom: 2px solid black; }

	#nav-sublinks {   margin-left: -20px; width: 758px; height: 27px; padding-top: 4px;   text-align: left; font-family: 'Open Sans', sans-serif; color: rgb(181,46,0); padding-bottom: 3px; font-size: 14px;}

	#nav-sublinks div { float: left; margin-right: 6px; padding-left: 6px; border-left: 1px solid black;}
	#nav-sublinks div a { text-decoration: none; color: rgb(181,46,0); font-size: 13pt; font-weight: 600 }
	#nav-sublinks div a:hover { color: rgb(101,101,101); }

	#intro { height: 650px; width: 100%;  }

	
	
	.viewable { width: 1024px; margin: 0 auto; position: relative; background-color: white; padding: 70px;}
	.viewable h1 { font-size: 23px; font-weight: 300; }
	.viewable h2 { font-size: 18px; font-weight: 300; color: rgb(45,105,90);}

	.project { width: 222px; float: left; height: 150px; margin-right: 24px;  margin-bottom: 25px; font-size: 13px;  font-weight: 300; text-align: justify;}
	.project img { width: 222px; }

	.project-desc { font-size: 14px; }
	.project-desc h2 { text-transform: uppercase; font-size: 17px; margin: 5px 20px 0px 0px; border-bottom: 1px solid silver;}
	.project-desc p { font-size: 14px; margin-right: 25px;  margin-bottom: 15px;}

	.project2 { width: 220px; float: left; height: 160px; margin-left: 10px; margin-right: 5px;  margin-bottom: 10px; font-size: 13px;  font-weight: 300; }
	.project2simple { width: 338px; float: left;  margin-left: 10px; margin-right: 5px;  margin-bottom: 10px; font-size: 13px;  font-weight: 300; border-top: 1px solid silver;}
	.project2 img { width: 208px; border: 1px solid silver; background-color: white; padding: 5px; }
	.project2 h1 { font-weight: 300; font-size: 30px; text-transform: uppercase; font-family: 'Open Sans', sans-serif; color: rgb(155,155,155); padding-bottom: 5px;}
	.project2 h2 { font-weight: 300; text-transform: uppercase; font-family: 'Open Sans', sans-serif; color: rgb(90,90,90); padding-bottom: 3px; font-size: 15px;}
	.project2simple h2 { font-weight: 300; text-transform: uppercase; font-family: 'Open Sans', sans-serif; color: rgb(90,90,90); padding-bottom: 3px; font-size: 13px;}


	.project h1 { font-weight: 300; font-size: 30px; text-transform: uppercase; font-family: 'Open Sans', sans-serif; color: rgb(155,155,155); padding-bottom: 5px;}
	.project h2 { font-weight: 300; text-transform: uppercase; font-family: 'Open Sans', sans-serif; color: rgb(90,90,90); padding-bottom: 3px; font-size: 14px;}
	.last { margin-right: 0px; }

	.logo-scroll { width: 125px; height: 125px; float: left; border: 1px solid red; margin: 5px; }

	.contact_page { width: 186px; float: left;  margin: 0px 20px; text-align: center;}
	.contact_page h1 { font-size: 18px; border-bottom: 1px solid silver; }
	.clear { clear: both; }

	/* Necessary CSS */
.slider    { overflow:hidden; position:relative; height: 100px; padding: 10px 0px; }
.slider ul { margin:0; padding:0; }
.slider li { float:left; margin:0 10px 0 10px; list-style:none; }
.slider li img { height: 100px; }
/* IE6 issues */
.slider ul { width:100%; }